html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: roboto;
	color: #1f1f24;
}

body {
	background-color: #fbfbfb;
}

.top-navbar {
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 2%;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1170px;
}

.phone_icon {
	display: none;
}

.header__button_call {
	padding: 15px 40px 15px 40px;
	border: solid 1px #f82370;
	color: #f53f4f;
}

.button_call {
	padding: 15px 40px 15px 40px;
	border: solid 1px #f82370;
	color: #f53f4f;
}

.header__phone {
	font-size: 25px;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.menu__item {
	padding: 5px;
}

.menu__item_link {
	color: #1f1f24;
}

.menu__item_link:hover {
	color: #fc557c;	
}

.introduction {
	display: flex;
	width: 100%;
	padding-top: 2%;
}

.introduction_text {
	width: 70%;
	z-index: 2;
}

.person {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.name {
	font-weight: 900;
	font-size: 80px;
}

.description {
	font-size: 25px;
	color: #8993ad;
	margin: 0;
	margin-bottom: 80px;
	padding-top: 20px;
}

.button__orange {
	padding: 25px 75px;
	color: white;
	background-color: #ff4e2e;
}

.skills {
	margin: 60px 0;

}

.serveces {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 40px;
	justify-content: space-around;
}

.serveces__item {
		text-align: center;
		width: 25%;

	}

	.serveces__item_description {
		font-size: 20px;
		color: #8993ad;
	}

.title {
	color: #1f1f24;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.works {
	margin-top: 100px;
}

.works h2 {
	margin-bottom: 50px;
}

.works ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

	.works__item {
		width: 33%;
	}

	.works__item {
		width: 33%;
	}

	.works__item  img {
		width: 100%;
		height: auto;
	}

.works p {
	font-size: 20px;
	color: #8993ad;
	text-align: center;
	margin-top: 10px;
	}

.button_container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 5% 0;
}

.adaptive {
	color: white;
	width: 100%;
	background: linear-gradient(65deg, #ff8f5a, #ff2f96);
	display: flex;
	justify-content: space-around;
}

.adaptive_text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 58%;
	padding: 6%;
	position: relative;
}

.adaptive h3 {
	font-size: 45px;
	font-weight: bold;
}

.adaptive p {
	font-size: 18px;
}

.adaptive span {
		color: white;
		font-size: 25px;
		display: inline-block;
		position: absolute;
		font-weight: bold;
	}

	.adaptive span:nth-child(3) {
		transform: rotate(-35deg) scale(1,1);
		position: absolute;
		top: 16%;
   		left: -5%;

	}

	.adaptive span:nth-child(4) {
		transform: rotate(45deg) scale(1,1);
		position: absolute;
		top: 80%;
   		left: -1%;
	}

	.adaptive span:nth-child(5) {
		transform: rotate(-30deg) scale(2,2);
		position: absolute;
		top: 57%;
   		left: 95%;
	}

	.adaptive span:nth-child(6) {
		transform: rotate(-30deg) scale(1,1);
		position: absolute;
		top: 27%;
   		right: 3%;
	}

	.adaptive span:nth-child(7) {
		transform: rotate(20deg) scale(1.5,1.5);
		position: absolute;
		top: 20%;
   		right: -4%;
	}

.footer_content {
	display: flex;
	flex-wrap: wrap;
	width: 87%;
	margin:0 auto;
	align-items: baseline;
	justify-content: space-between;
	
}	

.footer_menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer_menu__item_link {
	color: #8993ad;
}

footer {
	margin: 3% 0 0 0;
}

.footer_contact {
	display: inline-block;
		font-size: 20px;
		color: #8993ad;
		margin: 10px 5px;
		padding: 0;
	}

.social-icons {
	padding: 0;
	margin: 20px 0;
	display: flex;
	justify-content: space-around;
}

.social_item {
	width: 45px;
	height: 45px;
	cursor: pointer;
	background: url(elements/sprite.png) no-repeat;
	display: inline-block;
	margin: 10px 5px;
}

.social-icons .vk {
	background-position: -60px 0;
}

.social-icons .fb {
	background-position: -119px 0;
}

.social-icons .tw {
	background-position: -179px 0;
}

.social-icons .inst {
	background-position: -295px 0;
}

.footer_menu-width {
	
}

.call_button {
	padding: 20px 0;
	width: 100%;
	justify-content: space-around;
}

.copyright {
	width: 100%;
	color: white;
	font-size: 16px;
	text-align: center;
	background-color: #31293c;
	padding: 40px 0;
}



@media (min-width: 320px) and (max-width: 766px) {

	.adaptive span {
	display: none;
	}

	.adaptive h3 {
	font-size: 28px;
	font-weight: bold;
	}

	.adaptive p {
	font-size: 15px;
	}

	.top-navbar {
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 2%;
	}

	.menu-toggle {
		display: none;
	}

	.header__button_call {
		display: none;
	}

	.header__phone {
		font-size: 18px;
	}

	.phone_icon {
		display: block;
	}

	.person_img {
		width: 100%;
		height: 100%;
	}

	.introduction {
		flex-direction: column-reverse;
		width: 100%;
		padding: 0;
	}

	.introduction_text {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 5% 0 5% 0;
	}

	.person {
		width: 100%;

	}

	.name {
    font-weight: 900;
    font-size: 33px;
    text-align: center;
	}

	.description {
    font-size: 21px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0;
	}

	.serveces {
	margin-top: 20px;
	}

	.serveces__item {
		text-align: center;
		width: 100%;
	}

	.serveces__item_description {
		font-size: 20px;
		color: #8993ad;
	}

	.works ul {
		display: flex;
		flex-wrap: wrap;
	}

	.works__item {
		width: 99%;
	}

	.works__item:nth-child(3) {
		display: none;
	}

	.works__item:nth-child(2) {
		display: none;
	}

	.adaptive_text {
	width: 97%;
	}

	.social {
		width: 100%;
		justify-content: space-around;
	}


}	

@media (min-width: 767px) and (max-width: 1025px) {

	.menu-toggle {
		display: none;
	}

	.header__phone {
		font-size: 25px;
	}

	.name {
	font-weight: 900;
    font-size: 39px;
	}

	.description {
	font-size: 18px;
    color: #8993ad;
	}

	.button__orange {
	margin: 35px;
	}

	.serveces {
	margin-top: 20px;
	padding: 0 2%;
	}
	.serveces__item {
	text-align: center;
	width: 50%;
	}

	.works ul {
	flex-wrap: wrap;
	}

	.works__item {
	width: 49%;
	}

	.works__item:nth-child(3) {
	display: none;
	}

	.adaptive_text {
	width: 90%;
	}

	.top-navbar {
	justify-content: space-around;
	}

	.introduction_text {
		padding: 10% 0 0 4%;
	}
	
}

@media  (max-width: 1025px) {
	.menu-toggle {
		display: block;
		margin: 0;
		padding: 0;
		margin-top: 5px;
		overflow: hidden;
		height: 0;
	}

	.menu-toggle.open {
		height: auto;
	}

	.menu-toggle__item {
		list-style: none;
		background: #8993ad;
		text-align: center;
		padding: 1%;
		border-bottom: 1px solid #778096;
	}

	.menu-toggle__item_link {
		color: white;
	}

	.menu {
		display: none;
	}
}

@media  (min-width: 1025px) {
	.burger-menu {
		display: none;
	}

	.menu-toggle {
		display: none;
	}

	.introduction_text {
		padding: 6% 0 0 10%;
	}
}